<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Weather App</title>
  </head>
  <body>
    <div class="flex place-content-center">
      <div class="text-center">
        <div class="pt-5 pb-1">
          <!-- <h1 class="text-xl">Weather</h1> -->
        </div>

        <div class="weather">
          <h3 class="text-3xl font-light pb-2">{{ weatherData.name }}</h3>
          <h3 class="temp text-6xl font-bold">
            {{ weatherData.main.temp | round }}°
          </h3>
          <h3 class="pt-2 pb-3 capitalize">
            {{ weatherData.weather[0].description }}
          </h3>
          <p>
            High:
            {{ weatherData.main.temp_max | round }}° Low:
            {{ weatherData.main.temp_min | round }}°
          </p>
        </div>
        <div class="pt-1">
          <form action="/weather" method="POST">
            <input
              type="text"
              name="zip"
              placeholder="Enter Zip Code"
              class="my-3 text-center"
            /><br />
            <input
              type="submit"
              class="border-2 border-blue-500 px-2 py-0.5 rounded-3xl bg-blue-500 text-white hover:bg-blue-400 hover:border-blue-400"
            />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
