<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
  </head>
  <body>
    <h1>Weather App</h1>
    <form action="/weather" method="POST">
      <input type="text" name="zip" placeholder="Enter Zip Code" />
      <input type="submit" />
    </form>

    <div class="weather">
      <h3>City: {{ weatherData.name }}</h3>
      <h3 class="temp">Current Temperature: {{ weatherData.main.temp }}</h3>
      <h3>Weather Description: {{ weatherData.weather[0].description }}</h3>
      <h3>Minimum Temperature: {{ weatherData.main.temp_min }}</h3>
      <h3>Maximum Temperature: {{ weatherData.main.temp_max }}</h3>
    </div>
  </body>
</html>
