<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/9be3c30446.js"
      crossorigin="anonymous"
    ></script>
    <script>
      tailwind.config = {
        darkMode: "class",
      };
    </script>
    <title>Weather</title>
  </head>
  <body class="">
    <!-- dark mode toggle -->
    <div class="flex place-content-end dark:bg-[#0E172A] dark:text-white">
      <button
        class="text-xs bg-gray-200 dark:bg-gray-800 rounded-xl p-1.5 m-1"
        onclick="document.body.classList.toggle('dark')"
      >
        <!-- when button clicked change "Dark" to "Light" -->
        <span class="dark:hidden"
          ><i class="fa-solid fa-circle-half-stroke"></i
        ></span>
        <span class="hidden dark:inline"
          ><i class="fa-solid fa-circle-half-stroke"></i
        ></span>
      </button>
    </div>
    <div class="h-screen dark:bg-[#0E172A] dark:text-white">
      <div class="flex place-content-center">
        <div class="text-center">
          <div class="pt-0 pb-1">
            <!-- <h1 class="text-xl">Weather</h1> -->
          </div>

          <div class="weather">
            <h3 class="text-3xl font-light pb-2">{{ weatherData.name }}</h3>
            <h3 class="temp text-6xl font-bold">
              {{ weatherData.main.temp | round }}°
            </h3>
            <h3 class="pt-2 pb-3 capitalize">
              {{ weatherData.weather[0].description }}
            </h3>
            <p>
              High:
              {{ weatherData.main.temp_max | round }}° Low:
              {{ weatherData.main.temp_min | round }}°
            </p>
          </div>
          <div class="pt-1">
            <form action="/weather" method="POST">
              <input
                type="text"
                name="zip"
                placeholder="Enter Zip Code"
                class="my-3 text-center rounded-md"
              /><br />
              <input
                type="submit"
                class="border-2 border-blue-500 px-2 py-0.5 rounded-3xl bg-blue-500 text-white hover:bg-blue-400 hover:border-blue-400"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
